<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파일 리스트 정보</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>file list 정보 페이지</h1>
    <form method="post" action="{{url_for('compress')}}">
        <table border="1">
            <tr>
                <td>파일 이름</td>
            <td>파일 크기</td>
            <td>파일 날짜</td>
            <td>파일 경로</td>
            <td>파일 선택</td>
        </tr>
        {% for file in files %}
        <tr>
            <td>{{file[0]}}</td>
            <td>{{file[1]}}</td>
            <td>{{file[2]}}</td>
            <td>{{file[3]}}</td>
            <td><input type="checkbox" name="files" value="{{file[0]}}"></td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit">파일 압축하기</button>
    </form>
</body>
</html>